@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  #main {
    width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-weight: 400;
  }
  form{
    /* margin-left: 35%; */
    display: flex;
  justify-content: center;
  max-width: 100%;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  }
  #input1 {
    max-width: 100%;
    min-width: 100px;
    min-height: 30px;
    padding-left: 8px;
    margin-right: 5px;
    background-color: rgb(19, 211, 183);
    border: 1px solid rgb(0, 0, 0);
    color: black;
    
  }
  input[type="text"] {
    width: 50px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
  }
  input[type="text"]:focus {
    width: 250px;
    outline: 0;
    
  }
  input::placeholder{
    color: black;
  }
  #input2 {
    max-width: 4%;
    min-width: 100px;
    min-height: 30px;
    margin-left: 5px;
    padding: 0 8px 0px 8px;
    background-color: rgb(19, 211, 183);
    border: 1px solid rgb(0, 0, 0);
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    59%{ opacity: 1;}
    100% { opacity: 2; }
  }
  #weather {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: larger;
    animation: fadeIn 4s;
  }
  #insta{
    display: flex;
  justify-content: center;
  max-width: 100%;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  }
  


  
.frame{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  width: 130px;
  position: relative;
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
   border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
}

.btn{
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background: #e0e5ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  font-size: 16px;
  color: rgba(42, 52, 84, 1);
  text-decoration: none;
}
.btn:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}
